
.inputEditable-text-wrap > :nth-child(n + 2),
.inputEditable-input-wrap > :nth-child(n + 2) {
  margin-left: 10px;
}

.inputEditable-edit {
  color: #004893;
}
.inputEditable-description {  
  color: #777;
}

.inputEditable-cancel {
  color: #999;
}
.inputEditable-submit {  
  font-weight: bold;
}

.inputEditable-input {
  border: 1px solid #ccc;
}
.inputEditable-input:invalid {
  border-color: orange;
}
.inputEditable-input:focus:valid {
  border-color: green;
}
